

.menubar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.menubar-desktop{
    background: coral; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    padding: 10px 20px;
}
.menubar-desktop li{
    background: coral;
    border: none;
    padding-bottom: 10px;
    text-align: center;
}
.menubar-desktop li  a{
    text-decoration: none;
    font-weight: 700;
    color: aliceblue;
}
.profile_image{
    padding: 20px;
    text-align: center;
}
.profile_image img{
    width: 200px;
    height: 190px;
    /* border-radius: 50%; */
    border: 10px solid #000000;

}


.main-content{
    padding-left: 20%;
    background: #000000;
    margin-bottom: 0;
}

section{
    padding: 2% 10%;
    color: white;
    height: 100vh;
}


section h4,h1, h6{
    text-transform: uppercase;    
}
section h4{
    font-size: 45px;
    color: coral;
    padding-bottom: 10px;
}
section h5{
    font-size: 28px;
    padding-bottom: 5px;
}

#about h1{
    font-size: 72px;
    color: coral;
    margin-top: 50px;
}

#projects h4{
    color: coral;
    margin-top: 100px;
}

#about .icons{
    font-size: 18px;
}



.icons{

    font-size: 38px;
    padding-top: 10px;
    margin-right: 20px;
    color: #fff;
}

#projects .proj-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
}




#projects .proj-content .card .box {
    transition: all 0.3s ease;
}

#projects .proj-content .card:hover .box {
    transform: scale(1.05);
}


#projects .proj-content .card i {
    font-size: 30px;
    color: #3d0970;
    transition: color 0.3s ease;
}

#projects .proj-content .card:hover i {
    color: #fff;
    
}

#projects .proj-content .card .text {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

#projects .proj-content .card a {
    display: inline-block;
    background: coral;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

#projects .proj-content .card a:hover {
    color: #fff;
    border: 2px solid #fff;
}




@media screen and (max-width:1064px) {
    .menubar-mobile{
        display: block;
    }

    .menubar-desktop{
        display: none;
    }
    .main-content{
        padding: 0;
        padding-bottom: 10px;
    }

    #projects .proj-content .card {
        width: 100%;
        margin: 20px 0px;
    }

    section{
        height: 100%;
    }
}


